@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Sanchez:ital@0;1&display=swap');


* {
  font-family: 'Montserrat', sans-serif !important;
}

h1,h5 {
font-family: 'Sanchez', sans-serif !important;
}

html body{
    background-color: #0ac9eb;
    color: #ffffff;
    font-size: x-large;
    
  }

  h1
  {
      font-size: 60px;
    text-shadow: 2px 2px #000000;
  }
  h5
  {
    font-size: 30px;
    
  }

  
  body {
    background-image: url("map.jpg");
    background-color: #cccccc;
   }

  footer
  {
    background-color: #0ac9eb;
    color: #ffffff;
  }
  .card_contactus
  {
    margin-top: 20px;
    margin-bottom: 30px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #b3d1ff;
  }
  .aboutUs_Details
  {
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #b3d1ff;
  }
  .about_us_img
  {
    margin-top: 20px;
    width: 100%;
    height: 350px;;
  }